* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 1000ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 1000ms ease-in;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.page {
    padding: 10px 15px;
    border: 1px solid teal;
    cursor: pointer;
}
.page:last-child {
    padding: 10px 13px;
}
.page__current {
    border: 2px solid orange;
    font-weight: bold;
}
.post__btns {
    display: flex;
    flex-direction: column;
}
.post__comments {
    border: 1px solid teal;
    margin: 20px 40px;
    padding: 15px;
}
.post-comments-item {
    margin-bottom: 10px;
}